/* home page css style code */
/*font style import  */
  @font-face{ 
    font-family: 'MyWebFont';
    src: url('WebFont.eot');
    src: url('WebFont.eot?#iefix') format('embedded-opentype'),
         url('WebFont.woff') format('woff'),
         url('WebFont.ttf') format('truetype'),
         url('WebFont.svg#webfont') format('svg');
}
/* title animation */
.unbreakable-container
{
  position: absolute;
  top: 2%;
  left: 36%;
}

.unbreakable
{
    font-family: 'ghost_reverieregular';
    line-height: 1;
    letter-spacing: -.07em;
    color: #fff;
}

.ks
{
    font-family: 'the_darkregular';
    font-size: 100px;
    line-height: 1;
    margin-top: -11px;
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fc0;
}

.animate .ks
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.un, .break, .able 
{
    font-family: 'ghost_reverieregular';
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
    color: #fff;
    filter: alpha(opacity=0);
}

.able
{
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
}

.break
{
    -webkit-transition: all .3s ease-in-out 2s;
            transition: all .3s ease-in-out 2s;
    letter-spacing: -.07em;
}

.un
{
    -webkit-transition: all .3s ease-in-out 1.7s;
            transition: all .3s ease-in-out 1.7s;
    letter-spacing: -.07em;
}

.animate .un
{
    font-size: px;
    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);
    opacity: 1;
    filter: alpha(opacity=100);
}

.animate .break
{
    font-size: 70px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .able
{
    font-size: 80px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

/* title smoke disappear text effect */
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

body {
  background: black;
  overflow: hidden;
  font: 5vw/100vh "Finger Paint";
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
}

.un, .break, .able {
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
}

span:nth-child(even){
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg) 
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){ 
    animation-delay: #{(3 + ($item/10))}s; 
  }
} 
/* Center button animation */
ul {
  margin: 0;
  padding: 0;
  display: flex;
}
#center-btn
{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
    font-family: 'ghost_reverieregular';
    font-size: 40px;
    line-height: 1;
    margin-top: -11px; 
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s cubic-bezier(.190, 1.000, .220, 1.000) 4s;
    -webkit-transform: translateX(-1000%); 
         -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: transparent;
}
#sub-center-btn{
  font-size: 20px;
}
.animate #center-btn
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
#back-btn
{
  position: absolute;
  top: 20px;
  left: 30px;
  font-family: 'ghost_reverieregular';
  font-size: 15px;
  line-height: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: transparent;
}
/* fog animation */
html, body{
  margin: 0;
  padding: 0;
}
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: url("https://covervault.com/wp-content/uploads/2015/11/008-Mystery-Forest_Preview3.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.fog-container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
  }
.fog-img-first {
      background: url('../html_img/fog1.png'); 
      background-repeat: repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 50s linear infinite;
}

.fog-img-second {
      background: url('../html_img/fog2.png'); 
      background-repeat: repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 20s linear infinite;
}

/* marquee */
@keyframes marquee {
  0% { transform: translate3d(0, 0, 0); 
  }
  100% { transform: translate3d(-100vw, 0, 0); 
  }
}

#map{
  position: absolute;
  top: 8%;
  height: 60%;
  width: 85%;
  left: 8%;
  
}
#plot{
  position: absolute;
  bottom: 8%;
  height: 60%;
  width: 85%;
  left: 8%;
}

